@import "tailwindcss";

@theme {
  --color-neutral-900: #121212;
  --color-neutral-800: #262626;
  --color-neutral-600: #52525a;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;
  --color-blue-600: #177dff;
  --color-blue-400: #4ca6ff;
  --color-red-500: #d64d5b;
  --color-green-500: #4dd67b;
  --color-yellow-400: #f4dc73;

  --breakpoint-xl: 1216px;

  --animate-blink: blink 2s steps(1) infinite;

  @keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply selection:bg-white selection:text-neutral-800;
  }

  body {
    @apply bg-neutral-900 text-white;
    font-family: "Sora Variable", sans-serif;
  }

  pre {
    font-family: "Sora Variable", sans-serif;
  }
}

@utility wrapper {
  @apply mx-auto w-[calc(100%-2rem)] md:w-[calc(100%-4rem)] max-w-304;
}

@utility font-preset-404 {
  font-weight: 800;
  font-size: clamp(3.75rem, calc(2.2rem + 6.5vw), 8.75rem);
  line-height: clamp(1, calc(0.95 + 0.3vw), 1.1);
  letter-spacing: clamp(-0.04rem, calc(-0.03rem + -0.1vw), -0.08rem);
}

@utility font-preset-1 {
  font-weight: 700;
  font-size: clamp(1.5rem, calc(1.054rem + 1.902vw), 2.5rem);
  line-height: clamp(1.2, calc(1.129 + 0.304vw), 1.36);
  letter-spacing: clamp(0.02rem, calc(0.018rem + 0.01vw), 0.025rem);
}

@utility font-preset-1-regular {
  font-size: clamp(2rem, calc(1.777rem + 0.951vw), 2.5rem);
  line-height: 1.36;
  letter-spacing: 0.025rem;
}

@utility font-preset-2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0;
}

@utility font-preset-3 {
  font-size: clamp(1rem, calc(0.889rem + 0.476vw), 1.25rem);
  line-height: 1.2;
  letter-spacing: clamp(-0.037rem, calc(-0.041rem + 0.014vw), -0.03rem);
}

@utility font-preset-3-semibold {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.01875rem;
}

@utility font-preset-4 {
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.0375rem;
}

@utility font-preset-5 {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.03rem;
}

@utility font-preset-6 {
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0;
}

@utility divider {
  background-color: var(--color-neutral-800);

  &[data-vertical="true"] {
    min-width: 1px;
    align-self: stretch;
  }

  &:not([data-vertical="true"]) {
    min-height: 1px;
    width: 100%;
  }
}

@utility stat-value {
  @apply transition-colors duration-1000;
  &[data-accuracy="excellent"] {
    color: var(--color-green-500);
  }
  &[data-accuracy="good"] {
    color: var(--color-blue-600);
  }
  &[data-accuracy="warn"] {
    color: var(--color-yellow-400);
  }
  &[data-accuracy="bad"] {
    color: var(--color-red-500);
  }
  &[data-time="safe"] {
    color: var(--color-blue-400);
  }
  &[data-time="warn"] {
    color: var(--color-yellow-400);
  }
  &[data-time="danger"] {
    color: var(--color-red-500);
  }
}

@utility char {
  &[data-state="correct"] {
    @apply text-green-500;
  }
  &[data-state="corrected"] {
    @apply text-blue-400 underline;
  }
  &[data-state="incorrect"] {
    @apply text-red-500 underline;
  }
  &[data-state="pending"] {
    @apply text-neutral-400;
  }
}

@utility caret {
  @apply absolute left-0 right-0 top-1 bottom-1 rounded-sm bg-neutral-600 -z-1 animate-blink;
}

@utility custom-ring-focus {
  @apply outline-none focus-visible:custom-ring;
}

@utility custom-ring {
  @apply ring-2 ring-offset-2 ring-offset-neutral-900 ring-blue-600;
}
